<!DOCTYPE html>
<html>
  <head>
    <title>Jumpstarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.github = "<%= image_url('github.png') %>";
    </script>
    <script
    src="https://kit.fontawesome.com/fc31dedf63.js"
    crossorigin="anonymous"
  ></script>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
